.header-custom-bg {
    background-color: black;
}

.header a {
    color: inherit;
    text-decoration: none;
}

    .header a:hover {
        color: inherit;
    }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 80px; /* Espaço para o header fixo */
}

.placeholder {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    cursor:default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.key {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.pair {
    margin-bottom: 10px;
    width: 100%;
}

.label {
    margin-bottom: 5px;
    color: black;
}

.input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    background-color:#000;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.5s, box-shadow 0.3s;
}

    .button:hover {
        color:white;
        background-color:#000;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.keys-container {
    margin-top: 20px;
}

.Label_Error {
    border: 2px solid red;
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
}