body, html {

}

.header-custom-bg{
    background-color:black;
}
    .header a {
    color:inherit;
    text-decoration:none;
    }
    .header a:hover{
        color:inherit;
    }

.button {
    transition: all 0.5s;
    background-color: grey;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 19px; /* set font size to 20px */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px; /* add padding to ensure text doesn't overflow */
    margin: 10px;
}

    .button:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        color:white;
        transform: translateY(-3px);
    }

.label{
    font-size:15px;
    border:2px solid #ccc;
    border-color:gray;
    border-radius:5px;
    color:white;
}
.box-container {
    background-color: darkgrey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.box-title {
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
}
.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 90%; /* Fill available height */
}