.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

        .btns .btn:nth-child(2),
        .btns .btn:nth-child(4),
        .btns .btn:nth-child(6),
        .btns .btn:nth-child(8),
        .btns .btn:nth-child(5) {
            display: block;
        }
.animatedButton {
    transition: all 1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
    .animatedButton:hover {
        background-color: #0056b3;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }
    .animatedButton:active {
        background-color: #003d7a;
        transform: scale(0.95);
    }