body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    overflow: hidden; /* Remove barras de rolagem padrão */
}

.Label_Error {
    border: 2px solid red;
    color: red;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

#Text_Top {
    position: absolute;
    background-color: black;
    font-size: 40px;
    color: white;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.placeholder {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco meio escuro */
    border: 1px solid #ccc; /* Bordas finas cinzas */
    border-radius: 10px; /* Bordas redondas */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para um efeito de elevação */
    max-width: 500px; /* Largura máxima do placeholder */
    width: 100%; /* Ocupará toda a largura disponível até o máximo definido */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    max-height: 60vh; /* Limita a altura do placeholder */
    overflow-x:hidden;
    overflow-y: auto; /* Permite rolagem vertical */
}

.key {
    margin-bottom: 10px; /* Espaço pequeno entre cada chave */
    padding: 10px;
    width: 100%; /* Faz o campo de entrada ocupar a largura disponível */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    text-align: center; /* Centraliza o texto dentro da chave */
}

.keys-container {
    width: 100%;
}