.header-custom-bg {
    background-color: black;
}

.header a {
    color: inherit;
    text-decoration: none;
}

    .header a:hover {
        color: inherit;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.search-container {
    width: 100%;
    margin:10px;
}

.placeholder {
    cursor:default;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
    box-sizing: border-box;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.key {

    color:black;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.keys-container {
    width: 100%;
}

.alert-danger {
    border: 2px solid red;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
